.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
* {
  font-family: "Sawarabi Gothic", sans-serif;
}
h1,
h2,
h3 {
  font-weight: normal;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 30px 50px;
  box-shadow: 0 0 10px 0 lightgray;
}

h3 {
  color: black;
  font-size: small;
  margin-left: 5px;
  margin-bottom: 2px;
}
h3 {
  color: red;
  font-weight: bold;
}
/* .urgent {
  margin-bottom: 10px;
} */

button {
  all: unset;
  cursor: pointer;
  /* margin-right:10px; */

  /* position:absolute;/ */
}
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  width: 250px;
  position: relative;
}

input {
  height: 40px;
  width: 250px;
  margin-top: 4px;
}

.form button {
  position: absolute;
  top: 12px;
  right: 0;
  opacity: 0.7;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li input:checked + p{
  color:#aaa;
  text-decoration: line-through;
}

.tasks {
  background-color: #eee;
  padding: 15px;
}

#field {
  background-color: #f2bebe;
  border: 1px solid #aaa;
  padding: 4px 8px;
  border-radius: 5px;
  border: 2px red solid;
}

#completed {
  background-color: #dce1f4;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin-top: 6px;
  list-style: none;
}
#deleteBtn{
  border:1px solid black;
  padding:4px 8px;
  border-radius: 5px;
  margin: 10px 0;
  margin-left:75%;
  font-size:.7rem;
}

li {
  /* display: inline-block; */
  align-items: center;
  vertical-align: middle;
  margin-bottom: -10px;
  font-size: 0.7rem;
  /* justify-content: space-between; */
}

input[type="checkbox"] {
  border: 1px solid black;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.checkbox {
  width: 16px;
  vertical-align: middle;
}

.checked {
  color: red;
  background-color: orange;
}

#listItems {
  background-color: #f2bebe;
}
.today {
  background-color: rgba(240, 163, 92, 0.3);
  /* border:1px solid; */
  padding: 0 4px;
  font-size: 0.2rem;
}
.tomorrow {
  background-color: rgb(227, 227, 198);
  /* border:1px solid; */
  padding: 0 4px;
  font-size: 0.2rem;
}
p{
  display: inline-block;
  margin-right: 5px;
  margin-left: 10px;
}

.bold{
  font-weight: bold;
  font-size:.8rem;
  color:rgb(121, 16, 16);
}
.xBtn{
  border: 1px solid black;
  cursor: pointer;
  padding: 0 4px;;
 /* margin-left:300px; */
}